USE [master]
GO
/****** Object:  Database [ProSigaDb]    Script Date: 22/05/2026 11:27:19 ******/
CREATE DATABASE [ProSigaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProSigaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ProSigaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProSigaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ProSigaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProSigaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProSigaDb]
GO
/****** Object:  Table [dbo].[tblActivities]    Script Date: 22/05/2026 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblActivities](
	[IdActivities] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdClass] [int] NOT NULL,
	[ActivitieType] [nvarchar](100) NOT NULL,
	[ActivitieTitle] [nvarchar](255) NOT NULL,
	[ActivitieDescription] [nvarchar](1500) NOT NULL,
	[ActivitieDataEnd] [datetime] NOT NULL,
	[ActivitieDataCreate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[userIdUser] [int] NULL,
	[classeIdClass] [int] NULL,
 CONSTRAINT [PK_5e4fc68e5b034936a98cd5fc9ab] PRIMARY KEY CLUSTERED 
(
	[IdActivities] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClass]    Script Date: 22/05/2026 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClass](
	[IdClass] [int] IDENTITY(1,1) NOT NULL,
	[ClassPeriod] [int] NOT NULL,
	[ClassCurso] [nvarchar](255) NOT NULL,
	[IdUser] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_31c3a8923569700c11bb6067280] PRIMARY KEY CLUSTERED 
(
	[IdClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPermissios]    Script Date: 22/05/2026 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermissios](
	[IdPer] [int] IDENTITY(1,1) NOT NULL,
	[PerKey] [nvarchar](255) NOT NULL,
	[PerDesc] [nvarchar](1500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubject]    Script Date: 22/05/2026 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubject](
	[IdSub] [int] IDENTITY(1,1) NOT NULL,
	[SubName] [nvarchar](100) NOT NULL,
	[usersIdUser] [int] NULL,
 CONSTRAINT [PK_e0ab53b7e75d9d63b884f3b3f63] PRIMARY KEY CLUSTERED 
(
	[IdSub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubmit]    Script Date: 22/05/2026 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubmit](
	[IdSubmit] [int] IDENTITY(1,1) NOT NULL,
	[IdActivities] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[SubSenteAt] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSubmit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 22/05/2026 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[UserCpf] [nvarchar](11) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[UseAdmin] [bit] NOT NULL,
	[IdSub] [int] NULL,
 CONSTRAINT [PK_d1497d86e17714b5e2ac3e22901] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserPermission]    Script Date: 22/05/2026 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserPermission](
	[IdUp] [int] IDENTITY(1,1) NOT NULL,
	[IdPer] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSubmit] ADD  DEFAULT (getdate()) FOR [SubSenteAt]
GO
ALTER TABLE [dbo].[tblUser] ADD  DEFAULT ((0)) FOR [UseAdmin]
GO
ALTER TABLE [dbo].[tblActivities]  WITH CHECK ADD  CONSTRAINT [FK_3c28a5fc94af05a2a154cca0d1f] FOREIGN KEY([classeIdClass])
REFERENCES [dbo].[tblClass] ([IdClass])
GO
ALTER TABLE [dbo].[tblActivities] CHECK CONSTRAINT [FK_3c28a5fc94af05a2a154cca0d1f]
GO
ALTER TABLE [dbo].[tblActivities]  WITH CHECK ADD  CONSTRAINT [FK_9e4a36cebf334fec1fc5f09ac73] FOREIGN KEY([userIdUser])
REFERENCES [dbo].[tblUser] ([IdUser])
GO
ALTER TABLE [dbo].[tblActivities] CHECK CONSTRAINT [FK_9e4a36cebf334fec1fc5f09ac73]
GO
ALTER TABLE [dbo].[tblSubject]  WITH CHECK ADD  CONSTRAINT [FK_6a56a07dc665ba4153f83a4d2b5] FOREIGN KEY([usersIdUser])
REFERENCES [dbo].[tblUser] ([IdUser])
GO
ALTER TABLE [dbo].[tblSubject] CHECK CONSTRAINT [FK_6a56a07dc665ba4153f83a4d2b5]
GO
ALTER TABLE [dbo].[tblSubmit]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[tblUser] ([IdUser])
GO
ALTER TABLE [dbo].[tblSubmit]  WITH CHECK ADD FOREIGN KEY([IdActivities])
REFERENCES [dbo].[tblActivities] ([IdActivities])
GO
ALTER TABLE [dbo].[tblUserPermission]  WITH CHECK ADD  CONSTRAINT [fk_permission] FOREIGN KEY([IdPer])
REFERENCES [dbo].[tblPermissios] ([IdPer])
GO
ALTER TABLE [dbo].[tblUserPermission] CHECK CONSTRAINT [fk_permission]
GO
ALTER TABLE [dbo].[tblUserPermission]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([IdUser])
REFERENCES [dbo].[tblUser] ([IdUser])
GO
ALTER TABLE [dbo].[tblUserPermission] CHECK CONSTRAINT [fk_user]
GO
USE [master]
GO
